<header id="header" class="tg-header tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong class="logo">
          <a href="index.html"> <img src="/{{ directory }}/images/logo1.png" alt="image description"></a>
        </strong>
        <div class="tg-rightarea">
          <nav id="tg-nav" class="tg-nav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="navbar-right">
                <li class="active"><a href="index.html">Home</a>
                  <ul>
                    <li><a href="index.html">Home1</a></li>
                    <li><a href="index2.html">Home2</a></li>
                  </ul>
                </li>
                <li><a href="aboutus.html">about</a></li>
                <li><a href="projects.html">projects</a></li>
                <li> <a href="shop-grid.html">shop</a>
                  <ul>
                    <li><a href="shop-grid.html">shop grid</a></li>
                    <li><a href="shop-detail.html">shop detail</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <nav id="tg-addnav" class="tg-addnav tg-search-cart">
            <ul>
              <li class="search-area">
                <div class="tg-search dropdown">
                  <a href="#" id="tg-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
                  <div class="dropdown-menu" aria-labelledby="tg-search">
                    <form class="form-search">
                      <fieldset>
                        <input type="search" class="form-control" placeholder="Search">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

{% if params.is_front_page %}
  {% include directory ~ '/templates/block/banner/home_banner.html.twig' %}
{% else %}
  {% include directory ~ '/templates/block/banner/article_banner.html.twig' %}

{% endif %}
