{% extends "./templates/layout/page.html.twig" %}

{% block head_title %}Article Detail{% endblock %}
{% block css %}{% endblock %}
{% block content %}
  <div class="page page-article-detail">
    {% include './templates/block/hero.html.twig' with article_detail.hero %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% include './templates/block/article-content.html.twig' with article_detail %}
          {% include './templates/block/article-relative.html.twig' with article_detail %}
        </div>
      </div>
    </div>
    {% include './templates/block/modal.html.twig' %}
  </div>
{% endblock %}
{% block js %}{% endblock %}