{% extends "./templates/layout/page.html.twig" %}

{% block head_title %}Article Listing{% endblock %}
{% block css %}{% endblock %}
{% block content %}
  <div class="page page-article-listing">
    {% include './templates/block/hero.html.twig' with article_listing.hero %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1">
          {% include './templates/block/list-article-info.html.twig' with article_listing %}
          {% include './templates/block/list-article-list.html.twig' with article_listing %}
          {% include './templates/block/list-article-pager.html.twig' with article_listing %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}{% endblock %}