{% extends "./templates/layout/page.html.twig" %}

{% block head_title %}Destination Detail{% endblock %}
{% block css %}{% endblock %}
{% block content %}
  <div class="page page-destination-detail">
    {% include './templates/block/hero.html.twig' with home.banner %}
    <section class="tabs">
      {% include './templates/block/tab-top.html.twig' with destination_detail %}
      {% include './templates/block/tab-content.html.twig' with destination_detail %}
    </section>
    {% include './templates/block/banner-promote.html.twig' with destination_detail.promote %}
  </div>
{% endblock %}
{% block js %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVTnsvoPZlfrQzlh9c-LFW8cCXVuMJq08&amp;callback=initMap"
    async defer></script>
  <script type="text/javascript">
    var map_center = {lat: 10.782078, lng: 106.698602};
    var data = {{ destination_detail|json_encode() }}
  </script>
{% endblock %}