<div class="tg-main-section tg-banner tg-haslayout parallax-window" data-parallax="scroll" data-bleed="100" data-speed="0.2" data-image-src="{{ top_banner_common }}">
  <div class="container">
  {% if params.breadcrumb is not empty %}
  <ul class="tg-breadcrumb">
    {% for data in params.breadcrumb %}
    <li>{{ data.title }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  </div>
</div>
