<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
  <div class="item">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
          <div class="row">
            <div class="col-sm-5 col-xs-5 tg-verticalmiddle">
              <img class="floating" src="/{{ directory }}/images/slider/img-02.png" alt="image description">
            </div>
            <div class="col-sm-7 col-xs-7 tg-verticalmiddle tg-sliderwidth">
              <div class="tg-banner-content">
                <h1>ECOMATIC</h1>
                <h2>drive for<span>eco friendly</span>environment</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
          <div class="row">
            <div class="col-sm-5 col-xs-5 tg-verticalmiddle">
              <img class="floating" src="/{{ directory }}/images/slider/img-02.png" alt="image description">
            </div>
            <div class="col-sm-7 col-xs-7 tg-verticalmiddle tg-sliderwidth">
              <div class="tg-banner-content">
                <h1>ECOMATIC</h1>
                <h2>drive for<span>eco friendly</span>environment</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
          <div class="row">
            <div class="col-sm-5 col-xs-5 tg-verticalmiddle">
              <img class="floating" src="/{{ directory }}/images/slider/img-02.png" alt="image description">
            </div>
            <div class="col-sm-7 col-xs-7 tg-verticalmiddle tg-sliderwidth">
              <div class="tg-banner-content">
                <h1>ECOMATIC</h1>
                <h2>drive for<span>eco friendly</span>environment</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
