<main id="main" class="tg-haslayout tg-backgroundwhite">

  <div class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>get social with us</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <ul class="tg-socialicon big-icons tg-haslayout">
          <li>
            <a href="#">
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tg-main-section tg-haslayout tg-bggray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>Send us a message</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row">
            <form class="contact-form">
              <fieldset>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" placeholder="Full Name">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="fa fa-globe"></i>
                    <input type="text" class="form-control" placeholder="Your Website">
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="form-group">
                    <i class="fa fa-paper-plane"></i>
                    <textarea class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-xs-12">
                  <button type="submit" class="tg-btn">Send</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tg-main-section tg-haslayout tg-backgroundwhite">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="storelocator" class="tg-haslayout">
              <header class="tg-haslayout">
                <div class="po-storesearch pull-right">
                  <form id="bh-sl-user-location" class="form-inline" method="post" action="#">
                    <input  type="text" id="bh-sl-address" name="bh-sl-address" />
                    <button class="po-bgcolor" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
                <div class="pull-left">
                  <h2><i class="fa fa-globe"></i>Navigator</h2>
                </div>
              </header>
              <div id="map-container" class="tg-haslayout">
                <div id="map-results-container" class="tg-haslayout">
                  <div class="col-md-3 col-sm-5 col-xs-12">
                    <div class="bh-sl-loc-list" id="storelist">
                      <ul class="list list-unstyled"></ul>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-7 col-xs-12">
                    <div id="bh-sl-map" class="bh-sl-map"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</main>
